@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-dark-600 text-gray-100;
  @apply min-h-screen;
  @apply antialiased;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  @apply font-bold;
  @apply tracking-tight;
  @apply leading-tight;
}

.glow {
  box-shadow: 0 0 15px rgba(124, 58, 237, 0.5);
}

.glow-text {
  text-shadow: 0 0 10px rgba(124, 58, 237, 0.5);
}

.gradient-border {
  position: relative;
  border-radius: 0.5rem;
  background: linear-gradient(to right, rgba(124, 58, 237, 0.2), rgba(59, 130, 246, 0.2));
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.5rem;
  padding: 1px;
  background: linear-gradient(45deg, #6d28d9, #3b82f6);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-text {
  background: linear-gradient(90deg, #8b5cf6, #60a5fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.glass {
  background: rgba(30, 34, 53, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}